<mat-accordion multi>
  <mat-expansion-panel *ngFor="let manifest of manifests"
		       (click)="onSelect(manifest)"
		       class="manifests">
    <app-order-list [orders]="manifest.orders"></app-order-list>
    <mat-expansion-panel-header>
      <mat-panel-description>
	{{ manifest.file_name }}
      </mat-panel-description>
	<span class="circle">
	  <span class="circle-txt">{{ manifest.orders.length }}
	  </span>
	</span>
	<mat-icon class="spacer">list</mat-icon>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
