<mat-card *ngFor="let vehicle of vehicles" class="vehicle">
  <mat-card-header>
    <mat-card-title>{{vehicle.name | uppercase}}</mat-card-title>
  </mat-card-header>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-content>
    <div><span>id: </span>{{vehicle.id}}</div>
  </mat-card-content>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="red">red</mat-button-toggle>
      <mat-button-toggle value="green">green</mat-button-toggle>
      <mat-button-toggle value="blue">blue</mat-button-toggle>
    </mat-button-toggle-group>

<!--  <mat-card-actions>
    <button mat-raised-button color="primary">Assign</button>
  </mat-card-actions>-->
</mat-card>
