<!--<mat-toolbar>
  <button mat-icon-button aria-label="menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>-->

<mat-grid-list cols="4">
  <mat-grid-tile class="manifests" [colspan]=1 [rowspan]=2>
   <app-manifests></app-manifests>
  </mat-grid-tile>
  <mat-grid-tile class="maps" [colspan]=2 [rowspan]=2>
    <app-map></app-map><app-messages class="messages"></app-messages>
  </mat-grid-tile>
  <mat-grid-tile class="vehicles" [colspan]=1 [rowspan]=2>
    <app-vehicles></app-vehicles>
  </mat-grid-tile>
</mat-grid-list>
